@import "tailwindcss";

:root {
  --background: #704fc0;
  --foreground: #fff;
  --color-primary-gradient: linear-gradient(90deg, #bfa6ff, #ffacff);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #704fc0;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
/* Box Shadow */
.box-shadow-primary {
  box-shadow: -4.04px -4.04px 0px 0px #7e7e7e inset,
    2.02px 2.02px 0px 0px #f0f0f0 inset, -2.02px -2.02px 0px 0px #262626 inset;
}
.box-shadow-secondary {
  box-shadow: -6.05px -6.05px 0px 0px #7e7e7e inset,
    6.05px 6.05px 0px 0px #f0f0f0 inset;
}
.box-shadow-tertiary {
  box-shadow: 6px 6px 0px 0px #7E7E7E inset,
    -6px -6px 0px 0px #F0F0F0 inset;
}


.font-w95fa {
  font-family: var(--font-w95fa), "Courier New", monospace;
}

/* Progress Bar Animation */
@keyframes progress-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 16px 0;
  }
}
